*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

/.nyc_output/
/coverage/
/lib-cov/
/node_modules/
npm-debug.log
/test-fixtures/
pids
logs
results
npm-debug.log

/performance/node_modules/
npm-debug.log
/compatibility/node_modules/
npm-debug.log
*.heapsnapshot
*.0x
